@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

.app {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
}

.modal {
  position: absolute;
  background-color: white;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal-content button {
  display: block;
  width: 100%;
  padding: 1rem;
  cursor: pointer;
  text-align: left;
  background-color: transparent;
  color: #000;
  border: none;
}

.sidebar {
  padding: 2rem;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.sidebar h2 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.contact-item {
  display: grid;
  grid-template-columns: 50px auto 24px;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  align-items: center;
}

.contact-item.selected {
  background-color: #e0e0e0;
}

.contact-item:hover {
  background-color: #e0e0e0;
}

.contact-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.contact-message {
  display: flex;
  align-items: center;
  width: 100%;
}

.message-text {
  flex: 1;
  font-size: 1.3rem;
  margin-right: 10px; /* Adjust spacing as needed */
}

.kebab-menu {
  font-size: 24px;
  cursor: pointer;
  color: #316ff6;
}
.unread-count {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(50, 125, 50);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  color: white;
  margin-right: 0.5rem;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
}

.main-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.chat-messages {
  max-height: 80vh;
  overflow-y: auto;
}

.message {
  margin-bottom: 10px;
}

.message p {
  margin: 0;
}

.message span {
  font-size: 0.8em;
  color: gray;
}

.conversation {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem;
  padding: 1rem 2rem;
  border-radius: 10px;
  background-color: #f8f9fa;
}

.contact-info {
  display: flex;
  align-items: center;
}

.contact-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem;
}

.contact-info div {
  display: flex;
  flex-direction: column;
}

.contact-info h3 {
  margin: 0;
}

.contact-info span {
  color: gray;
  font-size: 12px;
}

.icons {
  display: flex;
  gap: 15px;
}

.icons i {
  cursor: pointer;
  font-size: 2rem;
  color: #316ff6;
}

.chat-area {
  flex: 1;
  padding: 20px;
  margin: 0 4rem 0 4rem;
  overflow-y: auto;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem, 1.5rem;
  border-radius: 10px;
  max-width: 100%;
  position: relative;
}

.sent,
.received {
  padding: 1rem 2rem;
  border-radius: 30px;
  max-width: 60%;
  position: relative;
  margin-bottom: 1rem;
}

.sent {
  background-color: #dcf8c6;
  text-align: right;
  align-self: flex-end;
}

.received {
  background-color: #f8f9fa;
  text-align: left;
  align-self: flex-start;
}

.message p {
  font-size: 1.5rem;
  margin: 0;
}

.message span {
  display: block;
  font-size: 10px;
  color: gray;
  margin-top: 0.5rem;
}

.message-input {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  margin: 0 4rem 4rem 4rem;
}

.icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 50%;
  background-color: #f0f0f0;
  margin-right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.icon-btn:hover {
  background-color: #e0e0e0;
}

.input-container {
  position: relative;
  flex: 1;
}

input {
  width: 100%;
  padding: 1.5rem 4rem 1.5rem 1.3rem;
  border: 1px solid #ddd;
  border-radius: 30px;
}

.send-btn {
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: gray;
}

/* Mobile specific styles */
@media (max-width: 768px) {
  .app {
    display: block;
  }

  .back-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    color: #333;
    border: none;
    padding: 0.9rem;
    cursor: pointer;
    width: 100%;
    text-align: left;
  }

  .back-button span h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    margin-left: 2rem;
  }

  .sidebar {
    width: 100%;
    padding: 1rem;
    border-right: none;
  }

  .conversation {
    width: 100%;
  }

  .header {
    margin: 0 1rem;
  }

  .chat-area {
    flex: 1;
    margin: 0;
    overflow-y: auto;
  }

  .message-input {
    margin: 0;
  }
}
